@font-face {
  font-family: "OpenSans-regular";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/OpenSans-VariableFont_wdth%2Cwght.ttf?v=1713823871356");
}

@font-face {
  font-family: "FreeMono";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/FreeMono.ttf?v=1713824397792");
}

@font-face {
  font-family: "FreeSans";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/FreeSans.ttf?v=1713824419153");
}

body {
  background-color: white;
  padding: 15px;
   display: flex;
  justify-content: center; /* Align content horizontally in the center */
  align-items: center;
}

.back-button {
  position: fixed; /* Position the button relative to the viewport */
  top: 0; /* Align the button to the top of the viewport */
  left: 0; /* Align the button to the left of the viewport */
  width: 50px; /* Set the width of the button */
  height: 50px; /* Set the height of the button */
  padding: 20px; /* Optional: Add padding to the button for better clickability */
  z-index: 999; /* Ensure the button appears above other content */
}
.back-button img {
  width: 100%; /* Ensure the SVG fills the button */
  height: 100%; /* Ensure the SVG fills the button */
}

.container{
 background-color: white; 
  padding: 15px;
  width: 400px;
  height: auto;
  border: 2px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: auto; /* auto rows */
  gap: 15px; /* gap between grid items */
  margin: 15px;
}

  h1 {
  color: black;
  font-family: "FreeMono", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 25px;
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
}

.order {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin-top: -25px;
  grid-column: 1/ span 1;
  grid-row: 3;
  text-align: center;
  justify-content: center;
}

.price {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin-top: -25px;
  grid-column: 3/ span 2;
  grid-row: 3;
  text-align: center;
  justify-content: center;
}

.subtitle {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin: 40px;
  text-align: center;
}

.dashed-line {
  border-top: 1.5px dashed black;
  width: 100%;
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.text-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin: 25px;
  line-height: 1.5;
  grid-column: 1 / span 2;
}

.text-price {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin: 25px;
  line-height: 1.5;
  grid-column: 3/ span 2;
  
}


.box {
  width: 250px;
  height: auto;
  padding: 25px;
  background-color: white;
  border: 1px solid black;
  position: absolute;
  font-size: 18px;
  text-align: center;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

audio {
      width: 80%;
    }

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.img {
  width: 25px;
  height: auto;
}


.footer {
  width: 100%; /* Set width to match the container */
  background-color: lightgray;
  padding: 0px 5px;
  text-align: center;
  position: fixed;
  bottom: 0;
  border: 2px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  left: 50%; /* Position the left edge at the center */
  transform: translateX(-50%); 
}

.footer-content {
  margin: ;
}
