@font-face {
  font-family: "OpenSans-regular";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/OpenSans-VariableFont_wdth%2Cwght.ttf?v=1713823871356");
}

@font-face {
  font-family: "FreeMono";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/FreeMono.ttf?v=1713824397792");
}

@font-face {
  font-family: "FreeSans";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/FreeSans.ttf?v=1713824419153");
}


body {
  background-color: white;
  padding: 15px;
   display: flex;
  justify-content: center; /* Align content horizontally in the center */
  align-items: center;
}

.container{
 background-color: white; 
  padding: 15px;
  width: 400px;
  height: auto;
  border: 2px solid black;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: auto; /* auto rows */
  gap: 15px; /* gap between grid items */
  margin: 15px;
}

h1 {
  color: black;
  font-family: "FreeMono", sans-serif;
  font-weight: bold;
  font-size: 40px;
  margin: 25px;
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
}

.subtitle {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin: 40px;
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
}

.dashed-line {
  border-top: 1.5px dashed black;
  width: 100%;
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.order {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin-top: -25px;
  grid-column: 1/ span 1;
  grid-row: 3;
  text-align: center;
  justify-content: center;
}

.price {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin-top: -25px;
  grid-column: 3/ span 2;
  grid-row: 3;
  text-align: center;
  justify-content: center;
}

.weekblock1,
.weekblock2,
.weekblock3,
.weekblock4,
.weekblock5,
.weekblock6,
.weekblock7 {
  color: white;
  font-family: "FreeMono", serif;
  font-size: 18px;
  transition: background-image 0.5s ease;
  width: 125px;
  height: 125px;
  margin: 5px;
  background-color: black;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weektext1,
.weektext2,
.weektext3,
.weektext4,
.weektext5,
.weektext6,
.weektext7 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  font-family: "FreeMono", serif;
  font-size: 18px;
  margin: 25px;
  margin-left: 75px;
}

.weekblock1 {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
}

.weektext1 {
  grid-column: 2 / span 3;
  grid-row: 4 / span 1;
}




.weekblock2 {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
}

.weektext2 {
  grid-column: 2 / span 3;
  grid-row: 5 / span 1;
}


.weekblock3 {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
}

.weektext3 {
  grid-column: 2 / span 3;
  grid-row: 6 / span 1;
}


.weekblock4 {
  grid-column: 1 / span 1;
  grid-row: 7 / span 1;
}

.weektext4 {
  grid-column: 2 / span 3;
  grid-row: 7 / span 1;
}



.weekblock5 {
  grid-column: 1 / span 1;
  grid-row: 8 / span 1;
}

.weektext5 {
  grid-column: 2 / span 3;
  grid-row: 8 / span 1;
}



.weekblock6 {
  grid-column: 1 / span 1;
  grid-row: 9 / span 1;
}

.weektext6 {
  grid-column: 2 / span 3;
  grid-row: 9 / span 1;
}


.weekblock7 {
  grid-column: 1 / span 1;
  grid-row: 10 / span 1;
}

.weektext7 {
  grid-column: 2 / span 3;
  grid-row: 10 / span 1;
}


a {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Use the parent element's color */
}

.weekblock1:hover {
  background-image: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/monday.png?v=1713833166506");
  background-size: 125px 125px; 
}

.weekblock2:hover {
  background-image: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/tuesday.png?v=1713833166367");
  background-size: 125px 125px; 
}

.weekblock3:hover {
  background-image: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/wednesday.png?v=1713833166175");
  background-size: 125px 125px; 
}

.weekblock4:hover {
  background-image: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/thursday.png?v=1713833165844");
  background-size: 125px 125px; 
}

.weekblock5:hover {
  background-image: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/friday.png?v=1713833165535");
  background-size: 125px 125px; 
}

.weekblock6:hover {
  background-image: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/saturday.png?v=1713833165327");
  background-size: 125px 125px; 
}

.weekblock7:hover {
  background-image: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/sunday.png?v=1713833164996");
  background-size: 125px 125px; 
}


.subtotal {
  color: black;
  font-family: "FreeMono", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 25px;
  grid-column: 1 / span 1;
  text-align: center;
}

.money {
  color: black;
  font-family: "FreeMono", sans-serif;
  font-weight: bold;
  font-size: 24px;
  margin: 25px;
  grid-column: 3 / span 2;
  text-align: center;
}

.paycode{
 display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.paycode img {
   margin: 25px;
  max-width: 100px;
  max-height: 100px;
}

p {
  color: black;
  font-family: "FreeMono", sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 25px;
  text-align: center;
}
