@font-face {
  font-family: "OpenSans-regular";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/OpenSans-VariableFont_wdth%2Cwght.ttf?v=1713823871356");
}

@font-face {
  font-family: "FreeMono";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/FreeMono.ttf?v=1713824397792");
}

@font-face {
  font-family: "FreeSans";
  src: url("https://cdn.glitch.global/a458af96-8264-4b0d-9750-e491a70291d9/FreeSans.ttf?v=1713824419153");
}

body {
  background-color: white;
  padding: 15px;
}

.grid-container {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-auto-rows: auto; /* auto rows */
  gap: 15px; /* gap between grid items */
  margin: 15px;
}

h1 {
  color: black;
  font-family: "OpenSans-regular", sans-serif;
  font-weight: bold;
  font-size: 80px;
  margin: 25px;
  grid-column: 2 / span 2;
  grid-row: 1 / span 1;
  text-align: center;
}

.subtitle {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 24px;
  margin: 40px;
  grid-column: 2 / span 2;
  grid-row: 2 / span 1;
  text-align: center;
}

.dashed-line {
  border-top: 1.5px dashed black;
  width: 100%;
  grid-column: 2 / span 2;
  grid-row: 3 / span 1;
}

.order {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 24px;
  margin-top: -25px;
  grid-column: 1;
  grid-row: 3;
  text-align: center;
}

.price {
  color: black;
  font-family: "FreeMono", serif;
  font-size: 24px;
  margin-top: -25px;
  grid-column: 4;
  grid-row: 3;
  text-align: center;
}

.weekblock1 {
  grid-column: 1 / span 1;
  grid-row: 4 / span 1;
  background-color: black;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekblock2 {
  grid-column: 1 / span 1;
  grid-row: 5 / span 1;
  background-color: black;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekblock3 {
  grid-column: 1 / span 1;
  grid-row: 6 / span 1;
  background-color: black;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekblock4 {
  grid-column: 1 / span 1;
  grid-row: 7 / span 1;
  background-color: black;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.weekblock5 {
  grid-column: 1 / span 1;
  grid-row: 8 / span 1;
}

.weekblock6 {
  grid-column: 1 / span 1;
  grid-row: 9 / span 1;
}

.weekblock7 {
  grid-column: 1 / span 1;
  grid-row: 10 / span 1;
}

.weekblock1,
.weekblock2,
.weekblock3,
.weekblock4,
.weekblock5,
.weekblock6,
.weekblock7 {
  color: white;
  font-family: "FreeMono", serif;
  font-size: 24px;
  transition: background-image 0.5s ease;
  width: 200px;
  height: 200px;
  margin: 25px;
  background-color: black;
  border-radius: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
}
